.top-to-btm {
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
  }

  .circle-progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: var(--accent-primary); 
    transition: stroke-dashoffset 0.5s ease;
  } 

  @media screen and (max-width: 768px) {
    .top-to-btm {
      bottom: 40px;
      right: 40px;
    }
  }
