.work-container{
    background-color: #160a1f;
    padding: 50px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
}

.work-header{
    text-align: center;
    padding: 20px;
    max-width: 60%;
    margin: 40px auto 0 auto;
}

.work-header p{
    color: white;
}

.work-header h1{
    font-weight: 700;
    background: linear-gradient(105deg, #7947df 10%,#8961d7 30% , #ffffff 90%);
    -webkit-background-clip: text;
    color: #7947df;
    -webkit-text-fill-color: transparent;
}

.work-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    position: relative;
    /* overflow: hidden; */
}

@media screen and (max-width: 768px) {
    .work-section {
        grid-template-columns: 1fr; /* Sets the grid to a single column */
    }

    .work-container .work {
        max-width: 70%;
        padding: 15px 15px 0 15px;
        margin: 20px auto;
    }


    .work-header{
        max-width: 80%;
    }
}

@media screen and (max-width: 600px){
    .work-container .work {
        max-width: 90%;
        padding: 10px 10px 0 10px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .work-container .work {
        max-width: 80%;
        padding: 20px 20px 0 20px;
        margin: 20px auto;
    }
}

.work-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #311f4d 0.1%, rgba(255, 238, 238, 0) 30%);
    pointer-events: none; 
    z-index: 0; 
  }

.work{
    background-color: #22162e;
    margin: 50px;
    padding: 30px 30px 0 30px;
    z-index: 20;
    border-radius: 10px;
}


.card-1, .card-2{
    margin-bottom: 80px;
}

.img-box img{
    width: 100%;  
    height: 50%; 
    object-fit: cover;
}

.work-card {
    position: relative;
    overflow: hidden;
  }
  
  .project-banner {
    position: absolute;
    bottom: -15px; 
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    opacity: 0;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 10; 
    border-radius: 10px; 
    margin: 0 auto;
  }
  
  .work-card:hover .project-banner {
    bottom: 10px;
    opacity: 1; 
  }

  .project-info {
    display: flex;
    flex-direction: column; 
  }
  
  .project-title {
    font-weight: bold;
  }
  
  .project-description {
    font-size: smaller;
    margin-top: 4px;
  }
  
  .project-arrow{
    max-width: 40px;
    transition: transform 0.3s ease-in-out;
    margin-left: 40px;
  }
  
  .work-card:hover .project-arrow {
    transform: rotate(360deg); 
  }

  .project-title h3{
    font-size: 2rem;
    font-weight: 700;
  }

  .project-description{
    color: #c7c2cf;
    font-size: 16px;
  }

  @media screen and (max-width: 600px){
    .project-banner {
        padding: 15px 10px 10px 10px;
        max-height: 30%;
    }

    .project-description{
        display: none;
    }
  }

  @media screen and (max-width: 768px){
    .project-title h3{
        font-size: 1.5rem;
    }
  
    .project-description{
        font-size: 14px;
    }

    .work .card-2 {
        margin-bottom: 50px !important;
    }
  }


  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .project-title h3{
        font-size: 1.2rem;
    }
  
    .project-description{
        font-size: 12px;
    }

    .work .card-2 {
        margin-bottom: 50px !important;
    }
}